Repository ip-v8/rust-ipv8: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create_build_image, clippy, rust-latest, rust-nightly

create_build_image:
  stage: pre_build
  services:
  - docker:dind
  image: docker
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build -t $BUILD_IMAGE -f Dockerfile.build .
  - docker push $BUILD_IMAGE

clippy:
  before_script:
  - rustc --version && cargo --version
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - target/
    - $CARGO_HOME
  image: $BUILD_IMAGE
  stage: test
  script:
  - cargo clippy

rust-latest:
  before_script:
  - rustc --version && cargo --version
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - target/
    - $CARGO_HOME
  stage: test
  image: $BUILD_IMAGE
  script:
  - cargo build --verbose --release
  - cargo test --no-run
  after_script:
  ...

rust-nightly:
  before_script:
  - rustc --version && cargo --version
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - target/
    - $CARGO_HOME
  stage: test
  image: rustlang/rust:nightly
  allow_failure: true
  script:
  - cargo build --verbose --release
  - cargo test

restructured library and removed relative imports
  src/crypto/keytypes.rs
  src/crypto/mod.rs
  src/crypto/signature.rs
  src/lib.rs
  src/networking/mod.rs
  src/payloads/binmemberauthenticationpayload.rs
  src/payloads/connectiontype.rs
  src/payloads/introductionrequestpayload.rs
  src/payloads/introductionresponsepayload.rs
  src/payloads/mod.rs
  src/payloads/puncturepayload.rs
  src/payloads/puncturerequestpayload.rs
  src/payloads/timedistributionpayload.rs
  src/serialization/bits.rs
  src/serialization/header.rs
  src/serialization/mod.rs
  src/serialization/nestedpayload.rs
  src/serialization/rawend.rs
  src/serialization/varlen.rs
  tests/testpyipv8packets.rs
Due: clippy, rust-latest, rust-nightly

fixed codestyle
  src/networking/mod.rs
Due: clippy, rust-latest, rust-nightly

feat(ci): Add clippy to travis
  .travis.yml
Due: none

covered error.rs
  src/error.rs
Due: clippy, rust-latest, rust-nightly

updated err name
  src/error.rs
Due: clippy, rust-latest, rust-nightly

fix(networking):
  src/networking/connection.rs
Due: clippy, rust-latest, rust-nightly

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

rustfmt with basic config
  .rustfmt.toml
  benches/bench_crypto.rs
  benches/benchmark.rs
  examples/ipaddress.rs
  examples/join.rs
  src/configuration.rs
  src/crypto/keytypes.rs
  src/crypto/mod.rs
  src/crypto/signature.rs
  src/error.rs
  src/event.rs
  src/lib.rs
  src/networking/address.rs
  src/networking/connection.rs
  src/payloads/binmemberauthenticationpayload.rs
  src/payloads/connectiontype.rs
  src/payloads/introductionrequestpayload.rs
  src/payloads/introductionresponsepayload.rs
  src/payloads/mod.rs
  src/payloads/puncturepayload.rs
  src/payloads/puncturerequestpayload.rs
  src/payloads/timedistributionpayload.rs
  src/serialization/bits.rs
  src/serialization/header.rs
  src/serialization/mod.rs
  src/serialization/nestedpayload.rs
  src/serialization/rawend.rs
  src/serialization/varlen.rs
  tests/testpyipv8packets.rs
Due: clippy, rust-latest, rust-nightly

removed empty file
  benches/benchmark.rs
Due: clippy, rust-latest, rust-nightly

testing procmacros
  Cargo.toml
  src/serialization/headers/defaultheader.rs
  src/serialization/headers/mod.rs
  src/serialization/mod.rs
Due: clippy, rust-latest, rust-nightly

it compiles and thats it
  Cargo.toml
  src/lib.rs
  src/payloads/binmemberauthenticationpayload.rs
  src/payloads/introductionrequestpayload.rs
  src/payloads/introductionresponsepayload.rs
  src/payloads/puncturepayload.rs
  src/payloads/puncturerequestpayload.rs
  src/payloads/timedistributionpayload.rs
  src/serialization/header.rs
  src/serialization/headers/defaultheader.rs
  src/serialization/headers/mod.rs
  src/serialization/mod.rs
  src/serialization/nestedpayload.rs
  src/serialization/rawend.rs
  src/serialization/varlen.rs
  tests/testpyipv8packets.rs
Due: clippy, rust-latest, rust-nightly

First try at using coverage + travis
  .gitlab-ci.yml
  .travis.yml
Due: create_build_image, clippy, rust-latest, rust-nightly

Coverage should now work
  .travis.yml
Due: none

Only install grcov when needed
  .travis.yml
Due: none

don't use local path for grcov
  .travis.yml
Due: none

Added doc generation
  .travis.yml
Due: none

Greatly expanded CI and fixed deployment
  .travis.yml
Due: none

Specify rust version for the jobs
  .travis.yml
Due: none

Cleaned it up a bit
  .travis.yml
Due: none

Allow failures on certain branches, rename gitlab-ci
  .gitlab-ci.bak.yml
  .gitlab-ci.yml
  .travis.yml
Due: create_build_image, clippy, rust-latest, rust-nightly

Fixed deploy and fmt scripts
  .travis.yml
Due: none

Ready for Review: Finished up the CI config
  .travis.yml
  Cargo.toml
Due: clippy, rust-latest, rust-nightly

Require fmt after upstream merg and ensure no docs on pull get generated
  .travis.yml
Due: none

Many matches have been replaced by ok_or. Fixed all tests that did not work in the last commit which fixed headers.
  Cargo.toml
  src/error.rs
  src/event.rs
  src/lib.rs
  src/networking/connection.rs
  src/payloads/binmemberauthenticationpayload.rs
  src/payloads/introductionrequestpayload.rs
  src/payloads/introductionresponsepayload.rs
  src/payloads/puncturepayload.rs
  src/payloads/puncturerequestpayload.rs
  src/payloads/timedistributionpayload.rs
  src/serialization/bits.rs
  src/serialization/header.rs
  src/serialization/mod.rs
  src/serialization/nestedpayload.rs
  src/serialization/rawend.rs
  src/serialization/varlen.rs
  tests/testpyipv8packets.rs
Due: clippy, rust-latest, rust-nightly

fixed all benches
  benches/bench_crypto.rs
Due: clippy, rust-latest, rust-nightly

fixed some clippy warnings in crypto
  src/crypto/keytypes.rs
  src/crypto/mod.rs
  src/crypto/signature.rs
Due: clippy, rust-latest, rust-nightly

applied rust-fmt
  .editorconfig
  benches/bench_crypto.rs
  benches/benchmark.rs
  examples/ipaddress.rs
  examples/join.rs
  src/configuration.rs
  src/crypto/keytypes.rs
  src/crypto/mod.rs
  src/crypto/signature.rs
  src/error.rs
  src/event.rs
  src/lib.rs
  src/networking/address.rs
  src/networking/connection.rs
  src/payloads/binmemberauthenticationpayload.rs
  src/payloads/connectiontype.rs
  src/payloads/introductionrequestpayload.rs
  src/payloads/introductionresponsepayload.rs
  src/payloads/mod.rs
  src/payloads/puncturepayload.rs
  src/payloads/puncturerequestpayload.rs
  src/payloads/timedistributionpayload.rs
  src/serialization/bits.rs
  src/serialization/header.rs
  src/serialization/mod.rs
  src/serialization/nestedpayload.rs
  src/serialization/rawend.rs
  src/serialization/varlen.rs
  tests/testpyipv8packets.rs
Due: clippy, rust-latest, rust-nightly

Fixed errors caused by merge
  .rustfmt.toml
  src/crypto/mod.rs
  src/lib.rs
Due: clippy, rust-latest, rust-nightly

fixed codeclimate bugs
  .gitlab-ci.bak.yml
  Cargo.toml
  benches/bench_crypto.rs
  benches/benchmark.rs
  src/crypto/keytypes.rs
Due: clippy, rust-latest, rust-nightly

Fixed formatting errors
  .gitignore
  .rustfmt.toml
  src/crypto/mod.rs
  src/lib.rs
Due: clippy, rust-latest, rust-nightly

added pre-commit hook
  hooks/pre-commit
Due: none

fixed indentation
  hooks/pre-commit
Due: none

:sweat_smile:
  src/lib.rs
Due: clippy, rust-latest, rust-nightly

Path conditions:
  create_build_image: any of: .gitlab-ci.yml, Dockerfile.build
  clippy: any of: src/**/*.rs, Cargo.*, .gitlab-ci.yml, tests/**/*.rs, examples/**/*.rs, benches/**/*.rs
  rust-latest: any of: src/**/*.rs, Cargo.*, .gitlab-ci.yml, tests/**/*.rs, examples/**/*.rs, benches/**/*.rs
  rust-nightly: any of: src/**/*.rs, Cargo.*, .gitlab-ci.yml, tests/**/*.rs, examples/**/*.rs, benches/**/*.rs
